<%#
# JSON Form Partial

This partial renders an JSON database into structured form
%>


<div class="col-md-2">
  <%= f.label field.attribute %>
</div>

<div class="col-md-10 administrate-jsoneditor">
<%= f.text_area field.attribute, :value => field.data.to_json.html_safe.squish   %>
</div>
